body{
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

.card-title{
    text-align: center;
}

.container{
    text-align: center;
}

.searchDiv{
    max-width: 800px;
}

#foodCard{
    border-radius: 10px;
    background-color: #F8F7F5;
    border: none;
}

#foodDetails{
    width: 60%;
    padding-top: 30px;
    display: none;
}

#foodDetails img{
    width: 50%;
}
.mealdetails{
    padding-right: 10px;
    font-size: 25px;
}

#errorBtn{
    display: none;
    color: black;
    text-align: center;
    font-weight: bold;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    display: none;
}
.recipeBtn{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5%;
    width: 150px;
    margin: auto;
    border-radius: 2rem;
}
#imageBorder{
    border-radius: 50%;
}